extends layout

block content
    if (username)
        div(class = "shadow-2xl md:flex md:items-center rounded text-xs md:text-base")
            div(class="m-2")
                h.font-bold USER INFO
                br
                if(avatar)
                    img(src=`${avatar}`, alt="git avatar" width="50" class="rounded-full")
                if(name)
                    span.font-semibold Name: 
                    span #{name}
                    br
                if(username)
                    span.font-semibold Username: 
                    span #{username}
                    br
                if(email)
                    span.font-semibold Email:
                    span #{email}
                    br
                if(location)
                    span.font-semibold Location: 
                    span #{location}
                    br
                if(bio)
                    span.font-semibold Bio: 
                    span #{bio}
                    br

            div(class="m-2")
                h.font-bold GITHUB STATS
                br
                if(private)
                    span.font-semibold Private Repositories(#{private})
                    br
                if(public)
                    span.font-semibold Public Repositories(#{public})
                    br
                if(followers)
                    span.font-semibold Followers: 
                    span #{followers}
                    br
                if(following)
                    span.font-semibold Following: 
                    span #{following}
                    br
                if(joined)
                    span.font-semibold Joined: 
                    span #{joined}
                    br
                if(twitter)
                    span.font-semibold Twitter: 
                    a(href=`https://twitter.com/${twitter}`) #{twitter}

            div(class="m-2")
                form(action=`/api/repos/${username}` method="POST")
                    button(type="submit" class=" bg-gray-600 text-white px-4 py-1 rounded-3xl cursor-pointer border border-blue-900 hover:bg-gray-800 text-sm md:text-base") Repositories
    else 
        p(class= "text-xs md:text-base") Username not available

