extends layout

block content
    if (username)
        div
            h USER INFO
            br
            img(src=`${avatar}`, alt="git avatar" width="50")
            if(name)
                p Name: #{name}
            if(username)
                p Username: #{username}
            if(email)
                p Email: #{email}
            if(location)
                p Location: #{location}
            if(bio)
                p Bio: #{bio}

        div
            h GITHUB STATS
            if(private)
                p Private Repositories(#{private})
            if(public)
                p Public Repositories(#{public})
            if(followers)
                p Followers: #{followers}
            if(following)
                p Following: #{following}
            if(joined)
                p Joined: #{joined}
            if(twitter)
                p Twitter: #{twitter}

            form(action=`/api/repos/${username}` method="POST") 
                button(type="submit") Top Repositories
    else 
        p Username not available

