extends layout

block content
    div
        h USER INFO
        br
        img(src=`${avatar}`, alt="git avatar" width="50")
        p Name: #{name}
        p Username: #{username}
        p Email: #{email}
        p Location: #{location}
        p Bio: #{bio}

        h GITHUB STATS
        p Private Repositories(#{private}) and Public Repositories(#{public})
        p Followers: #{followers}
        p Following: #{following}
        p Joined: #{joined}
        p Twitter: #{twitter}

        form(action=`/api/repos/${username}` method="POST") 
            button(type="submit") Top Repositories

